.HomePage{  
    margin: 3% 20% 0% 20%;
    padding: 10px 20px 20px 30px;
    border-radius: 10px;
    background-color: rgba(20, 20, 20, 0.99);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.HomePageObject{
    max-width: 400px;

}