body {
  text-size-adjust: inherit;
  font-family: "Spartan", sans-serif;
  color: #f5deb3;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: initial;
  background-size: cover;
}

h1 {
  text-align: left;
  font-size: x-large;
  justify-content: flex-start;
}

h2 {
  font-size: large;
}

p {
  font-size: medium;
}

input,
textarea {
  background-color: wheat;
  color: black;
  border: 1px;
}

::placeholder {
  color: black;
}

select {
  background-color: wheat;
  border: 1px;
}
button {
  font-size: medium;
  background-color: wheat;
  border-radius: 3px;
  border: 1px;
}

button:hover {
  cursor: pointer;
}
