body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: initial;
  background-size: cover;
  background-position-x: initial;
}

html {
  overflow-y: initial;
}
